{% extends 'base.html' %}
{% load static %}


{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <h3 class="mb-4 text-center">Изменение пароля пользователя</h3>
    <br>
    <br>
    <h5>Поздравляем! Ваш пароль для входа в аккаунт был успешно изменен</h5>


    
    <div class="container d-flex justify-content-center">
        <div class="col-md-8 bg-white p-4 rounded shadow-sm">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <div class="d-flex flex-column align-items-center gap-2">
                    <button type="submit" class="btn login-btn" style="background-color: #7fae82; color: black; font-weight: 600; border: 3px solid black;">Изменить пароль</button>
                    <a href="{% url 'profile_update' %}" class="btn btn-outline-dark">Отмена</a>
                </div>
                
            </form>
        </div>
    </div>
    
{% endblock %}